In [39]:
students = [
    {"Name":"abc", "deails":{"id":9,"Marks":[90,25,29,95]}},
    {"Name":"def","deails":{"id":2,"Marks":[79,56,53,65]}},
    {"Name":"hig","deails":{"id":3,"Marks":[66,64,68,55]}},
    {"Name":"klm","deails":{"id":4,"Marks":[55,54,56,85]}},
    {"Name":"mno","deails":{"id":5,"Marks":[89,56,95,86]}},
    {"Name":"pqr","deails":{"id":6,"Marks":[68,45,24,83]}},
    {"Name":"rst","deails":{"id":7,"Marks":[96,82,59,36]}},
    {"Name":"uvw","deails":{"id":8,"Marks":[47,76,72,55]}},
    {"Name":"xyz","deails":{"id":9,"Marks":[35,65,80,86]}},
    {"Name":"x1y1","deails":{"id":90,"Marks":[26,37,76,64]}}
]

# Supplement Average

In [41]:
import numpy as np

counter = 0
for student in students:
    #print(np.mean(student['deails']['Marks']))
    students[counter]['deails']['Avg'] = np.mean(student['deails']['Marks'])
    counter += 1

In [42]:
print(students)

[{'Name': 'abc', 'deails': {'id': 9, 'Marks': [90, 25, 29, 95], 'Avg': 59.75}}, {'Name': 'def', 'deails': {'id': 2, 'Marks': [79, 56, 53, 65], 'Avg': 63.25}}, {'Name': 'hig', 'deails': {'id': 3, 'Marks': [66, 64, 68, 55], 'Avg': 63.25}}, {'Name': 'klm', 'deails': {'id': 4, 'Marks': [55, 54, 56, 85], 'Avg': 62.5}}, {'Name': 'mno', 'deails': {'id': 5, 'Marks': [89, 56, 95, 86], 'Avg': 81.5}}, {'Name': 'pqr', 'deails': {'id': 6, 'Marks': [68, 45, 24, 83], 'Avg': 55.0}}, {'Name': 'rst', 'deails': {'id': 7, 'Marks': [96, 82, 59, 36], 'Avg': 68.25}}, {'Name': 'uvw', 'deails': {'id': 8, 'Marks': [47, 76, 72, 55], 'Avg': 62.5}}, {'Name': 'xyz', 'deails': {'id': 9, 'Marks': [35, 65, 80, 86], 'Avg': 66.5}}, {'Name': 'x1y1', 'deails': {'id': 90, 'Marks': [26, 37, 76, 64], 'Avg': 50.75}}]

# Top N Students

In [46]:
def takefirst(element):
    return element['deails']['Avg']

In [58]:
def TopNStudens(l_list,n):
    l_list.sort(key=takefirst,reverse=True)
    return l_list[:n]

In [66]:
TopNStudens(students,10)

[{'Name': 'mno',
  'deails': {'id': 5,
   'Marks': [89, 56, 95, 86],
   'Avg': 81.5,
   'SupplementGrades': 'B'}},
 {'Name': 'rst',
  'deails': {'id': 7,
   'Marks': [96, 82, 59, 36],
   'Avg': 68.25,
   'SupplementGrades': 'C'}},
 {'Name': 'xyz',
  'deails': {'id': 9,
   'Marks': [35, 65, 80, 86],
   'Avg': 66.5,
   'SupplementGrades': 'C'}},
 {'Name': 'def',
  'deails': {'id': 2,
   'Marks': [79, 56, 53, 65],
   'Avg': 63.25,
   'SupplementGrades': 'C'}},
 {'Name': 'hig',
  'deails': {'id': 3,
   'Marks': [66, 64, 68, 55],
   'Avg': 63.25,
   'SupplementGrades': 'C'}},
 {'Name': 'klm',
  'deails': {'id': 4,
   'Marks': [55, 54, 56, 85],
   'Avg': 62.5,
   'SupplementGrades': 'C'}},
 {'Name': 'uvw',
  'deails': {'id': 8,
   'Marks': [47, 76, 72, 55],
   'Avg': 62.5,
   'SupplementGrades': 'C'}},
 {'Name': 'abc',
  'deails': {'id': 9,
   'Marks': [90, 25, 29, 95],
   'Avg': 59.75,
   'SupplementGrades': 'D'}},
 {'Name': 'pqr',
  'deails': {'id': 6,
   'Marks': [68, 45, 24, 83],
   'Avg': 55.0,
   'SupplementGrades': 'D'}},
 {'Name': 'x1y1',
  'deails': {'id': 90,
   'Marks': [26, 37, 76, 64],
   'Avg': 50.75,
   'SupplementGrades': 'D'}}]

# Supplement Grades (90-A, 70-B,60-C,50-D else Fail)

In [63]:
def SupplementGrades(marks):
    if marks >= 90:
        return 'A'
    elif marks >= 70:
        return 'B'
    elif marks >= 60:
        return 'C'
    elif marks >= 50:
        return 'D'
    else:
        return 'Fail'

In [65]:
counter = 0
for student in students:
    #print(np.mean(student['deails']['Marks']))
    students[counter]['deails']['SupplementGrades'] = SupplementGrades(student['deails']['Avg'])
    counter += 1

# Add Rank

In [68]:
maxlen = len(students)
counter = 0
for student in TopNStudens(students,maxlen):
    students[counter]['deails']['Rank'] = counter + 1
    counter += 1

In [70]:
students

[{'Name': 'mno',
  'deails': {'id': 5,
   'Marks': [89, 56, 95, 86],
   'Avg': 81.5,
   'SupplementGrades': 'B',
   'Rank': 1}},
 {'Name': 'rst',
  'deails': {'id': 7,
   'Marks': [96, 82, 59, 36],
   'Avg': 68.25,
   'SupplementGrades': 'C',
   'Rank': 2}},
 {'Name': 'xyz',
  'deails': {'id': 9,
   'Marks': [35, 65, 80, 86],
   'Avg': 66.5,
   'SupplementGrades': 'C',
   'Rank': 3}},
 {'Name': 'def',
  'deails': {'id': 2,
   'Marks': [79, 56, 53, 65],
   'Avg': 63.25,
   'SupplementGrades': 'C',
   'Rank': 4}},
 {'Name': 'hig',
  'deails': {'id': 3,
   'Marks': [66, 64, 68, 55],
   'Avg': 63.25,
   'SupplementGrades': 'C',
   'Rank': 5}},
 {'Name': 'klm',
  'deails': {'id': 4,
   'Marks': [55, 54, 56, 85],
   'Avg': 62.5,
   'SupplementGrades': 'C',
   'Rank': 6}},
 {'Name': 'uvw',
  'deails': {'id': 8,
   'Marks': [47, 76, 72, 55],
   'Avg': 62.5,
   'SupplementGrades': 'C',
   'Rank': 7}},
 {'Name': 'abc',
  'deails': {'id': 9,
   'Marks': [90, 25, 29, 95],
   'Avg': 59.75,
   'SupplementGrades': 'D',
   'Rank': 8}},
 {'Name': 'pqr',
  'deails': {'id': 6,
   'Marks': [68, 45, 24, 83],
   'Avg': 55.0,
   'SupplementGrades': 'D',
   'Rank': 9}},
 {'Name': 'x1y1',
  'deails': {'id': 90,
   'Marks': [26, 37, 76, 64],
   'Avg': 50.75,
   'SupplementGrades': 'D',
   'Rank': 10}}]

# Books dictionary

In [107]:
books_dict = {"books":[
    {"Author":"Abc", "Title":"safsd", "PublisherName":"asdfsadf", "Year":"2000","Price":700},
    {"Author":"fgfdg", "Title":"dfg", "PublisherName":"asdfsaopodf", "Year":"2010","Price":1020},
    {"Author":"fg", "Title":"ghj", "PublisherName":"asdfsioadf", "Year":"2018","Price":800},
    {"Author":"ghg", "Title":"jkljkl", "PublisherName":"hjkl", "Year":"2020","Price":650},
    {"Author":"ghgh", "Title":" m", "PublisherName":"asdfsartydf", "Year":"2000","Price":1400},
    {"Author":"Abfghc", "Title":"hjkl", "PublisherName":"yr", "Year":"2000","Price":1500}
    ]
}

# Print books by Publisher, by Year, by Author, below 1000

In [108]:
import pandas as pd

booksDF_raw = pd.DataFrame.from_dict(books_dict['books'])

In [109]:
booksDF = booksDF_raw[booksDF_raw.Price < 1000]

In [110]:
result = booksDF.sort_values(['PublisherName','Year','Author'])

In [111]:
result

  Author  Price PublisherName   Title  Year
0    Abc    700      asdfsadf   safsd  2000
2     fg    800    asdfsioadf     ghj  2018
3    ghg    650          hjkl  jkljkl  2020