In [5]:
#import sqllite3 package
import sqlite3

In [6]:
#create a connection to a database : create the database if not available
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [10]:
#open Connection
connection = sqlite3.connect("classroomDB.db")
cursor  = connection.cursor()
create_table = """
        CREATE TABLE classroom (
        student_id INTEGER PRIMARY KEY,
        name       VARCHAR(20),
        gender     char(1),
        physics_marks  INTEGER,
        chemestry_marks  INTEGER,
        maths_marks  INTEGER
        );
    """
#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

OperationalError: table classroom already exists

In [20]:
#sample data
classroom_data = [(1,"Raj","M",70,84,92),
                 (2,"Poonam","F",80,88,42),
                 (3,"Sheetal","F",90,81,62),
                 (4,"Smita","F",76,74,52)]

connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()
#insert each student
for student in classroom_data:
    insert_statement = """insert into classroom 
                        (student_id,name,gender,physics_marks,chemestry_marks,maths_marks)
                        VALUES
                        ({0},"{1}","{2}",{3},{4},{5});""".format(student[0],student[1],student[2],student[3],
                                                                 student[4],student[5])

    cursor.execute(insert_statement)
    
#connection commit
connection.commit()

#close connection
connection.close()

IntegrityError: UNIQUE constraint failed: classroom.student_id

In [23]:
connection = sqlite3.connect("classroomDB.db")
cursor = connection.cursor()
sql = "SELECT * FROM  classroom"
cursor.execute(sql)
result = cursor.fetchall()

for row in result:
    print(row)
    
connection.close

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 80, 88, 42)
(3, 'Sheetal', 'F', 90, 81, 62)
(4, 'Smita', 'F', 76, 74, 52)